<%- include("partials/header.ejs") %>
<nav>
  <div class="navbar">
    <div class="nav-title">
      <a class="navbar-brand" href="/">Banking App</a>
    </div>
    <div class="nav-links">
      <a class="nav-link active" href="/">Home</a>
      <a class="nav-link" href="/alluser">All Customer</a>
      <a class="nav-link" href="/transaction">Transaction</a>
      <a href="/register" class="nav-link">Login</a>
    </div>
  </div>
</nav>
<div class="home">
  <div class="blur"></div>
  <div class="blur one"></div>
  <div class="blur two"></div>
  <div class="blur three"></div>
  <div class="blur four"></div>
  <div class="top">
    <h1>Welcome to <span>Banking</span> App</h1>
    <p>Top make your trasactions easier</p>
    <a href="/transaction">Make Payment</a>
  </div>
  <div class="middle">
    <div class="heading">
      <h1>What can you do?</h1>
    </div>
    <div class="options">
      <div class="optionBox">
        <img src="/assets/png/money.png" />
        Send Money
      </div>
      <div class="optionBox">
        <img src="/assets/png/history.png" />Transaction History
      </div>
      <div class="optionBox"><img src="/assets/png/users.png" />All Users</div>
    </div>
  </div>

  <div class="bottom">
    <div class="footer">
      <span class="footer-text">&copy Developed by Joe Felix</span>
    </div>
  </div>
</div>
<script></script>
